<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="/static/css/bootstrap.css" rel="stylesheet">
    </head>
    <body>
        <h1 style="margin: 30px">Django Vanilla Views</h1>
        <div style="margin: 30px">
            {% if note_list %}
            <table class="table table-striped">
                <tr><th>Message</th><th>Completed</th><th></th><th></th></tr>
                {% for hope in hope_list %}
                    <tr>
                        <td>{{ hope.message }}</td>
                        <td>{{ note.checkbox_character }}</td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
            <p><a href="{% url 'create_note' %}">Create a new note</a></p>
        </div>
    </body>
</html>