{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    </head>
    <body>
        <h1 style="margin: 30px">Django Vanilla Views</h1>
        <div style="margin: 30px">
            {% if onetime_list %}
            <table class="table table-striped">
                <tr>
                    <th>Schedule Category</th>
                    <th>Start Date/Time</th>
                    <th>Stop Date/Time</th>
                    <th>Stop Type</th>
                    <th>Lifetime Quantity</th>
                    <th>Lifetime Unit</th>
                </tr>
            {% for onetime in onetime_list %}
                    <tr>
                        <td>{{ onetime.get_schedule_category_display }}</td>
                        <td>{{ onetime.start_datetime }}</td>
                        <td>{% with onetime.get_stop_datetime as element %}
                                {{ element }}
                            {% endwith %}
                        </td>
                        <td>{{ onetime.get_stop_type_display }}</td>
                        <td>{{ onetime.lifetime_quantity }}</td>
                        <td>{{ onetime.lifetime_unit }}</td>
                        <td><a href="{% url 'edit_onetime' onetime.pk %}">edit</a></td>
                        <td>
                            <form method="POST" action="{% url 'delete_onetime' onetime.pk %}">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-sm btn-danger" value="delete">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
            <p><a href="{% url 'create_onetime' %}">Create a new one time schedule</a></p>
        </div>
    </body>
</html>