{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    </head>
    <body>
        <h1 style="margin: 30px">Django Vanilla Views</h1>
        <div style="margin: 30px">
            {% if on_time_list %}
            <table class="table table-striped">
                <tr>
                    <th>Start Date</th><th>Start Time</th>
                </tr>
                {% for on_time in on_time_list %}
                    <tr>
                        <td>{{ on_time.start_date }}</td>
                        <td>{{ on_time.start_time }}</td>

                        <td><a href="{% url 'edit_on_time' on_time.pk %}">edit</a></td>
                        <td>
                            <form method="POST" action="{% url 'delete_on_time' on_time.pk %}">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-sm btn-danger" value="delete">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
            <p><a href="{% url 'create_on_time' %}">Create a new on_time</a></p>
        </div>
    </body>
</html>