<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="/static/css/bootstrap.css" rel="stylesheet">
    </head>
    <body>
        <h1 style="margin: 30px">Django Vanilla Views</h1>
        <div style="margin: 30px">
            {% if school_list %}
            <table class="table table-striped">
                <tr><th>Message</th><th>Completed</th><th></th><th></th></tr>
                {% for school in school_list %}
                    <tr>
                        <td>{{ school.name }}</td>
                        <td>{{ school.address }}</td>
                        <td>{{ school.region }}</td>
                        <td>{{ school.postcode }}</td>
                        <td>{{ school.country }}</td>
                        <td>{{ school.build_date }}</td>
                        <td><a href="{% url 'edit_school' school.pk %}">edit</a></td>
                        <td>
                            <form method="POST" action="{% url 'delete_school' school.pk %}">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-sm btn-danger" value="delete">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
            <p><a href="{% url 'create_school' %}">Create a new school</a></p>
        </div>
    </body>
</html>