{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    </head>
    <body>
        <h1 style="margin: 30px">Specific schedule Views</h1>
        <div style="margin: 30px">
            {% if specificdatetime_list %}
            <table class="table table-striped">
                <tr>
                    <th>Start Date/Time</th>
                </tr>
            {% for specificdatetime in specificdatetime_list %}
                    <tr>
                        <td>{{ specificdatetime.start_datetime }}</td>
                        <td><a href="{% url 'edit_spec_date_time' specificdatetime.pk %}">edit</a></td>
                        <td>
                            <form method="POST" action="{% url 'delete_spec_date_time' spec_date_time.pk %}">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-sm btn-danger" value="delete">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
            <p><a href="{% url 'create_spec_date_time' %}">Create a new specific date time schedule</a></p>
        </div>
    </body>
</html>